/*
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-weight: 500;
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /*--bg: #050006; /*#181815*/
    /*--bg2: #fafafa;*/
}
body{
    background: var(--bg2);
}
#header{
    width: 99vw;
    height: 10vh;
    background: #282A2D;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .container{
    height: 10vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container .img{
    height: 100px;
    width: 100px;
    color: #fff;
    /*Provisorio*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*Provisorio*/
}
#header .container ul{
    display: flex;
    flex-direction: row;
}
#header .container ul li a{
    color: #fff;
    margin:  0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#header .container ul li a:hover{
    border-bottom: 1px solid #fff;
}






/*Footer*/
#footer{
    height: 12.5vh;
    width: 99vw;
    background: #282A2D;
}
#footer .container{
    height: 12.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer ul{
    display: flex;
    flex-direction: row;
}
#footer ul li{
    color: #fff;
    margin: 0 25px;
    font-size: 25px;
}