/*
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-weight: 500;
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /*--bg: #050006; /*#181815*/
    /*--bg2: #fafafa;*/
}
body{
    background: var(--bg2);
}
#header{
    width: 99vw;
    height: 10vh;
    background: #282A2D;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header .container{
    height: 10vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container .img{
    height: 100px;
    width: 100px;
    color: #fff;
    /*Provisorio*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /*Provisorio*/
}
#header .container ul{
    display: flex;
    flex-direction: row;
}
#header .container ul li a{
    color: #fff;
    margin:  0 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#header .container ul li a:hover{
    border-bottom: 1px solid #fff;
}
/*Sobre*/
#sobre{
    height: 90vh;
    width: 99vw;
    background: grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sobre .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#sobre .container button{
    border: 2px solid #fff;
    padding: 10px 20px;
    background: none;
    color: #fff;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#sobre .container button:hover{
    border: 2px solid #fff;
    padding: 10px 20px;
    background: grey;
    color: #000;
}
/*Sobre-mim*/
#sobre-mim{
    height: auto;
    width: 99vw;
    background: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
#sobre-mim .container{  
    width: 90vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
#sobre-mim .sobre{
    width: 50%;
    text-align: center;
    margin: 100px 0;
}
#sobre-mim .sobre h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
#sobre-mim .sobre p{
    margin: 50px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#projetos{
    width: 99vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background: grey;
    padding: 50px 0;
}
#projetos h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}
#projetos .container{
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr))
}
#projetos .container .container-card img{
    width: 350px;
    height: 350px;
    border: 2px solid #000;
}
#projetos .container .container-card{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#projetos .container .container-card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/*Footer*/
#footer{
    height: 12.5vh;
    width: 99vw;
    background: #282A2D;
}
#footer .container{
    height: 12.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer ul{
    display: flex;
    flex-direction: row;
}
#footer ul li{
    color: #fff;
    margin: 0 25px;
    font-size: 25px;
}