footer{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--roxo-gradient);
    i{
        font-size: 25px;
        margin: 0 20px;
        color: var(--branco);
        transition: .3s;
        &:hover{
            color: var(--laranja);
        }
    }
}