@import './modules/default';
@import './modules/variaveis';
@import './modules/animations';
@import './modules/header';
@import './modules/inicio';
@import './modules/sobremim';
@import './modules/projetos';
@import './modules/skills';
@import './modules/contato';
@import './modules/footer';
@import './modules/menuMobile';