@import './modules/default';
@import './modules/header';
@import './modules/inicio';
@import './modules/sobremim';
@import './modules/conhecimentos';
@import './modules/projetos';
@import './modules/skills';
@import './modules/contato';
@import './modules/footer';
@import './modules/menuMobile';
@import './modules/animations';