#contato{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: var(--cinza);
}
#contato .container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contato h2{
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cinza-escuro);
}
#contato li{
    font-size: 16px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cinza-escuro);
    text-align: center;
}
#contato span{
    width: 10vw;
    border-bottom: 0.1em solid var(--cinza-escuro);
    margin: 25px 0;
}