footer{
    background: var(--cinza-escuro);
    width: 100%;
    height: 15vh;
}
footer .container{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    flex-direction: row;
}
footer li{
    padding: 0 20px;
}
footer i{
    color: var(--branco);
    font-size: 24px;
}
.fa-angle-up,i{
    color: black;
}