header{
    width: 100vw;
    height: 10vh;
    background: var(--cinza);
    position: fixed;
    z-index: 999;
    transition: .6s;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.hd-Animated{
    height: 6vh;
}
header h2{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    font-size: 24px;
    color: var(--cinza-escuro);
}
header .menu{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .menu ul{
    display: flex;
}
header .menu ul li a{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 40px;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--cinza-escuro);
}
header .menu ul li:hover{
    border-bottom: 1px solid var(--cinza-escuro);
}
#btn-mobile{
    display: none;
}