#projetos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}
#projetos h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
    font-size: 24px;
}
#projetos .container{
    width: 90vw;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
}
#projetos .container .projetos-card{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#projetos .container .projetos-card img{
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
#projetos .container .projetos-card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}