main .sobre{
    min-height: 60vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--cinza);
}
.sobre span{
    width: 10vw;
    border-bottom: 0.1em solid var(--cinza-escuro);
    margin: 25px 0;
}
.sobre h2{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
}
.sobre p{
    width: 25vw;
    font-size: 16px;
    line-height: calc(14px*1.5);
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
}