#sobre{
    background: radial-gradient(circle, rgba(0,0,0,1) 70%, rgba(15,15,15,1) 100%);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sobre .container{

}
#sobre img{
    height: 89.5vh;
}